@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

a {
  font-size: 16pt;
  font-weight: 600;
}

/* ---------------- HERO ---------------- */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav li {
  list-style: none;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav img {
  height: 60px;
}

/* ---------------- HERO ---------------- */
.hero {
  background: #495E57;
  padding: 25px 0 10px;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 100px;
}

h1 {
  color: #F4CE14;
  font-family: 'Markazi', display;
  font-size: 40pt;
}

h2 {
  color: #FFF;
  font-family: 'Markazi', display;
  font-size: 24pt;
  margin-bottom: 15px;
}

h3 {
  color: #FFF;
  margin-bottom: 25px;
}

.cta {
  background: #F4CE14;
  border-radius: 16px;
  padding: 5px 20px;
}

.hero-text, .hero-image {
  width: 50%;
}


.hero-image img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 15px;
}