@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
}

.container {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;
}

h1,
h2,
h4 {
  font-family: 'Markazi', display;
}

h1 {
  font-size: 40pt;
  font-weight: bold;
}

h2 {
  font-size: 32pt;
  font-weight: medium;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 20pt;
  font-weight: bolder;
}

h5 {
  font-size: 18pt;
  font-weight: bold;
}

h6 {
  font-size: 16pt;
  font-weight: medium;
}

p {
  font-family: 16pt;
  line-height: 1.2;
}

.cta {
  font-size: 18pt;
  font-weight: medium;
  background: #F4CE14;
  border-radius: 8pt;
  padding: 5px 30px;
}

a {
  font-size: 16pt;
  font-weight: bold;
}


/* ---------------- NAVIGATION ---------------- */
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav li {
  list-style: none;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav img {
  height: 60px;
}


/* ---------------- HERO ---------------- */
.hero {
  background: #495E57;
  padding: 25px 0 50px;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
}

.hero-text,
.hero-image {
  width: calc(50% - 25px)
}

h1 {
  color: #F4CE14;
}

h2 {
  color: #FFF;
  margin-bottom: 30px;
}

h3 {
  color: #FFF;
  margin-bottom: 40px;
}

.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}


/* ---------------- SPECIALS ---------------- */
.specials {
  margin: 125px 0;
}

.specials-header-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.specials-header-flex h1 {
  color: #000;
}

.specials-header-flex .cta {
  align-self: end;
}

.specials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.specials-card {
  background-color: #ebebeb;
  border-radius: 16px 16px 0 0;
  position: relative;
}

.specials-card img {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0 0;
}

.specials-card-text {
  padding: 25px;
}

.specials-card-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.specials-card-flex h6{
  color: #ec6300;
}

.specials-card p {
  margin: 0 0 75px;
  color: #666;
}

.specials-delivery-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
  position: absolute;
  bottom: 25px;
}

.specials-delivery-flex img {
  height: 16px;
}

/* ---------------- TESTIMONIALS ---------------- */
.testimonials {
  background: #495E57;
  padding: 100px 0;
}

.testimonials h4 {
  color: #F4CE14;
  text-align: center;
  margin-bottom: 50px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.testimonials-card img, h6 {
  width: calc(50% - 5px)
}

.testimonials-image-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.testimonials-card {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
}

.testimonials-card h6 {
  margin-bottom: 15px;
}